.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Four columns
    gap: 10px;
    padding: 1rem;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        @include transition(all);
        
        &:hover {
            transform: scale(1.05);
        }
    }
}
