$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family: 'Arial, sans-serif';
$background-color: #f4f4f4;
$header-background: white; // Changed header background color
$nav-hover-color: #2980b9;
